@import url('http://fonts.googleapis.com/css?family=Quicksand');

.body{
	margin: 0;
	padding: 0;
	background-color: #EEEEEE;
}

.hero{
	background: 
	linear-gradient(
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ),
    url('../img/hero.jpg') no-repeat center center;

	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	display: table;
	width: 100%;
	margin-top: -2%;
}

.hero .inside {
	color:white;
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	height: 840px;
	font-size: 60px;
	opacity: 1;
	position:relative;
}
#line{
	font-size: 10px;
	margin: 0 25% 0 25%;
	border-bottom-style: solid;
	border-bottom-width: 1px;
}

#intro{
	margin: 10% 7% 10% 7%;
	font-size: 45px;
	font-family: quicksand;
	background: 
	linear-gradient(
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    );
    padding:2%;
    border-radius: 15px;
}
.logo{
	float:left;
	margin: 20px 40px 0 5px;
	font-size: 25px;
	font-weight: bold;
	margin-left: 5%;
}
.logo a{
	transition: color 0.3s linear;
	-webkit-transition: color 0.3s linear;
	color:white;
	text-decoration: none;
}
.logo a:hover{
	color:orange;
	text-decoration: none;
}
.header{
	transition: background-color 0.5s linear, color 0.5s linear;
	-webkit-transition: background-color 0.5s linear, color 0.5s linear;
	height:75px;
	width: 100%;
	background-color: none;
	opacity: .9;
	position:fixed;
	top:0;
	z-index: 1;
	color:white;
}

ul.menu{
	position:relative;
	float:right;
	list-style: none;
	z-index: 2;
}

ul.menu li{
	transition: color 0.5s linear;
	-webkit-transition: color 0.5s linear;
	opacity: 1;
	color:initial;
	float:left;
	position:relative;
	font-size: 20px;
	margin: 20px 40px 0 5px;
}

ul.menu li a{
	transition: color 0.5s linear;
	-webkit-transition: color 0.5s linear;
	color:white;
}

ul.menu li:hover a{
	color:orange;
	text-decoration: none;
}

.block1{
	color:black;
	padding:6% 5% 8% 5%;
	text-align: center;
	vertical-align: middle;
	font-size: 25px;
	font-family: quicksand;
}
.block1 img{
	margin:1%;
	width: 100%;
}
.block2-background{
	background: 
	linear-gradient(
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ),
    url('../img/IMG_8311.JPG') no-repeat center center;
	color:white;
}
.block2{
	padding: 5% 10% 2% 10%;
	text-align: center;
	font-size: 30px;
	font-family: quicksand;
}
.block2 a{
	transition: color 0.3s linear;
	-webkit-transition: color 0.3s linear;
	color:gold;
}
.block2 a:hover{
	color:orange;
	text-decoration: none;
}
.side-border{
	border-left-style: solid;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-width: 1px;
}
.social{
	transition: color 0.3s linear;
	-webkit-transition: color 0.3s linear;
	color:white;
}
.pic1{
	transition: opacity 0.5s linear;
	-webkit-transition: opacity 0.5s linear;
	opacity:0.1;
}
.pic2{
	transition: opacity 0.5s linear;
	-webkit-transition: opacity 0.5s linear;
	opacity:0.1;
}
.pic3{
	transition: opacity 0.5s linear;
	-webkit-transition: opacity 0.5s linear;
	opacity:0.1;
}
.block3{
	color:gray;
	padding:5% 8% 5% 10%;
	margin:auto;
	text-align: center;
	font-family: quicksand;
}




