.body{
	margin: 0;
	padding: 0;
	background-color: #EEEEEE;
}

.hero{
	background: 
	linear-gradient(
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ),
    url('../img/hero.jpg') no-repeat center center;

	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	display: table;
	width: 100%;
	margin-top: -2%;
}

.hero .inside {
	color:white;
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	height: 840px;
	font-size: 90px;
	opacity: 1;
	padding:5% 0 20% 0;
	position:relative;
}

#name{
	position:relative;
	margin:auto;	
	top:15%;
}

.header{
	transition: background-color 0.5s linear;
	height:75px;
	width: 100%;
	background-color: none;
	opacity: .8;
	position:fixed;
	top:0;
	padding: 0 5% 0 5%;
}

ul.menu{
	position:relative;
	float:right;
	list-style: none;
}

ul.menu li{
	transition: color 0.5s linear;
	opacity: 1;
	color:white;
	float:left;
	position:relative;
	font-size: 20px;
	margin: 20px 40px 0 5px;
}

ul.menu li a{
	transition: color 0.5s linear;
	color:white;
}

ul.menu li:hover a{
	color:orange;
	text-decoration: none;
}

.block1{
	width: 100%;
	background-color: #EEEEEE;
	color:gray;
	padding:5% 8% 5% 10%;
	margin:auto;
	border-style: none none solid none;
	border-color: gray;
	border-width: 1px;
	text-align: center;
}
.block2{
	width: 100%;
	background-color: #EEEEEE;
	color:gray;
	padding:5% 8% 5% 10%;
	margin:auto;
	border-style: none none solid none;
	border-color: gray;
	border-width: 1px;
	text-align: center;
}
.block3{
	width: 100%;
	background-color: #EEEEEE;
	color:gray;
	padding:5% 8% 5% 10%;
	margin:auto;
	border-style: none none solid none;
	border-color: gray;
	border-width: 1px;
	text-align: center;
}




