.body{
	margin: 0;
	padding: 0;
}

.hero{
	background: 
	linear-gradient(
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ),
    url('../img/hero.jpg') no-repeat center center;

	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	display: table;
	width: 100%;
	margin-top: -2%;
}

.hero .inside {
	color:white;
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	height: 840px;
	font-size: 90px;
	opacity: 1;
	padding:5% 0 20% 0;
	position:relative;
}

#name{
	position:relative;
	margin:auto;	
	top:10%;
}

#header{
	height:100px;
	width: 100%;
	background-color: none;
	opacity: 1;
	position:fixed;
	top:0;
	padding: 0 5% 0 5%;
}

ul.menu{
	float:right;
	list-style: none;
	margin:0;
}

ul.menu li{
	color:white;
	float:left;
	position:relative;
	font-size: 20px;
	margin: 20px 40px 0 5px;
}

ul.menu li a{
	transition: color 0.5s linear;
	color:white;
}

ul.menu li:hover a{
	color:orange;
	text-decoration: none;
}






